{
    box-sizing: border-box;
    padding: 100;
    margin: 20;
}


body {
    background-image: url('../assets/dynamic-style.png');
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
}

.jumbotron{
    background-color: rgb(131, 191, 199);
    border-style: solid;
    border-radius: black, 10px;
    text-align: center;
}

.card-header{
  display: inline;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .active-slide{
    opacity: 1;
    z-index: 2;
  }

  .quiz-container{
    position: relative;
    height: 250px;
    margin-top: 10px;
  }

  .question{
    font-size: 30px;
    margin-bottom: 10px;
  }

  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }

  .answers label{
    display: block;
    margin-bottom: 10px;
  }
 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Baloo Chettan 2', 'Baloo 2', 'Poppins', cursive, sans-serif;
    text-align: center;
}